<header>
    <nav class="navbar navbar-expand-xl" style="background-color: #ffffff;">
        <div>
            <a class="navbar-brand" href="/">
                <img class="sinopac-header-icon" src="/images/logo.png" alt="sinopac logo">
            </a>
        </div>
    </nav>
</header>
<% if(!user_profile.login) { %>
    <hr class="nav-divider">
<% } %>