<div class="no-permission-alert alert alert-danger">尚無操作本功能之權限，請聯絡系統管理員開通。</div>
<div class="align-right">
    <a href="/">
        <button class="no-permission-button btn btn-secondary" id="error-back">Back Home</button>
    </a>
</div>