<div class="footer align-center">
    <div>©Copyright - SinoPac Securities. All rights reserved. | 永豐金證券股份有限公司</div>
    <div>System Version: <%= version %> - <%= remote_version %> <%= title %> </div>
</div>