<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/template_head.ejs %>
</head>

<body>
	<% include partials/template_body.ejs %>
	<% include partials/template_nav_header.ejs %>

	<% if(locals.show_popup){ %>
		<% var popup = locals.popup; %>
		<% include partials/template_popup.ejs %>
	<% } %>

	<% if(user_profile.login) { %>
		<% include partials/template_sidebar.ejs %>
	<% } %>
	
	<div class="container">
		<br/>
		<h5>
			<%= message %>
		</h5>
		<div>
			<%= error.stack %>
		</div>
	</div>
	<!--container-->
</body>
<footer>
	<% include partials/template_footer.ejs %>
</footer>

</html>